body{
  margin: 0 ;
}
.ligne1 {
  background-color: #DCDCDC;
height: 50px;
  }

.contact {
float: left;
word-spacing: 3px;


  }
.share {
  float: right;

}

.ligne1 ul {
  list-style-type: none;
}

.ligne1 ul li {
  float: left;
}

.share img {
  margin-left: 40px;
}

img{
  margin-left: 10px;
}

.ligne2 ul {
  list-style-type: none;
}

.nav {
  float: right;

}

.logo{
  float: left;
  font-size: 250%;
  color: orange;
  font-weight: bold;

}

.ligne2 ul li{
  display: inline-flex;
}

.ligne3{
  width: 300px;
  height: 300px;
  background-color: black;
  position: absolute;
}
